{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Rango says...</h1>
            <div>
                <h2 class="h2">
                    here is the about page.
                </h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-8">
                    <div class="card-body">
                        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" height="100%" width="100%"/>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" height="10%" width="100%" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <p><strong>Visits: {{ visits }}</strong></p>
    </div>
{% endblock %}
