{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if category %}
        <div class="jumbotron p-4">
            <div class="container">
                <h1 class="jumbotron-heading">{{ category.name }}</h1> <br />
                <div>
                    <strong id="like_count">{{ category.likes }}</strong> likes
                    {% if user.is_authenticated %}
                        <button style="float: right;" id="like_btn"
                            data-categoryid="{{ category.id }}"
                            class="btn btn-primary btn-sm"
                            type="button">
                            <span data-feather="thumbs-up"></span>
                            Like Category
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-md-12">
                <div class="card mb-12">
                    <div class="card-body">
                        <h2>Pages</h2>
                        <p class="card-text">
                            <div id="page-list">
                                {% if pages %}
                                    <ul class="list-group">
                                        {% for page in pages %}
                                            <li class="list-group-item">
                                                <a href="{% url 'rango:goto' %}?page_id={{page.id}}">{{ page.title }}</a>
                                                <span style="float:right; font-weight:bold;">
                                                    {% if page.views == 1 %}
                                                        ({{ page.views }} view)
                                                    {% else %}
                                                        ({{ page.views }} views)
                                                    {% endif %}
                                                </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <strong>There are no pages present.</strong>
                                {% endif %}
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div> <br />

        {% if user.is_authenticated %}
            <div class="container">
                <div class="col-md-12">
                    <div class="card mb-12">
                        <div class="card-body">
                            <h2>Search</h2>
                            <p class="card-text">
                                <div>
                                    <form class="form-inline"
                                          id="user-form"
                                          method="post"
                                          action="{% url 'rango:show_category' category.slug %}">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <input class="form-control"
                                                   type="text"
                                                   size="50"
                                                   name="query"
                                                   id="query"
                                                   value="{{ query }}"
                                            />
                                        </div>

                                        <button class="btn btn-primary"
                                                type="submit"
                                                name="submit">Search</button>
                                    </form>
                                </div>
                            </p>
                        </div>
                    </div>
                </div> <br />

                {% if result_list %}
                    <div class="col-md-12">
                        <div class="card mb-12">
                            <div class="card-body">
                                <p class="card-text">
                                    <div>
                                        <h2>Results</h2>
                                        <div class="list-group">
                                            {% for result in result_list %}
                                                <div class="list-group-item">
                                                    <h3 class="list-group-item-heading">
                                                        <a href="{{ result.link }}">
                                                            {{ result.title|safe|escape }}
                                                        </a>
                                                    </h3>
                                                    <p class="list-group-item-text">
                                                        {{ result.summary|safe|escape }}
                                                    </p>
                                                    <button class="btn btn-info add_page_btn"
                                                            type="button"
                                                            data-title="{{ result.title }}"
                                                            data-url="{{ result.link }}"
                                                            data-categoryid="{{ category.id }}">
                                                        Add Page
                                                    </button>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div> <br />
        {% endif %}
    {% else %}
        The specified category does not exist.
    {% endif %}
{% endblock %}
