{% if pages %}
     <ul class="list-group">
        {% for page in pages %}
            <li class="list-group-item">
                <a href="{% url 'rango:goto' %}?page_id={{page.id}}">{{ page.title }}</a>
                <span style="float:right; font-weight:bold;">
                    {% if page.views == 1 %}
                        ({{ page.views }} view)
                    {% else %}
                        ({{ page.views }} views)
                    {% endif %}
                </span>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <strong>No pages currently in category.</strong>
{% endif %}
